body p, body ul, body span {
    font-family: "PT Sans","Helvetica",Arial,sans-serif;
}



/* Footer */
footer {
	background-color: #E3E3E3;
}
.footer-info {
	position: relative;
	transform: translateY(50%);
}

/*.displa-table {
	display: table-cell;
    float: none;
    vertical-align: top;border-left: 1px solid #fff;
}*/
.display-table-col span{
	color: #1f1f1f;
	font-size: 13px;
	text-decoration: none;
}
.display-table-col{
	border-left: 1px solid #fff;
	padding-top: 10px;
}

/* Footer and list-inline */
.second-container a{
	color: #1f1f1f;
	font-size: 11px;
	text-decoration: none;
}
.list-row li{
	border-right: 1px solid #787878;
}
.list-row li:last-child {
    border-right: 0;
    padding: 0;
}